<%- include('partials/header.ejs') %>

<div class="main-content">
  <section class="section">
    <div class="section-body">
      <!--  Bid history Report Start-->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header" style="background-color: #212529">
              <div class="col-12 row card-header-box">
                <div class="col-md-6">
                  <h4 class="float-left">Result</h4>
                  <br />
                </div>
              </div>
            </div>
            <form id="addform">
              <div class="row m-2 clearfix">
                <input
                  class="form-control"
                  name="user_id"
                  id="user_id"
                  type="hidden"
                />
                <div class="col-sm-4">
                  <label for="market_close">Select Date</label>
                  <div class="form-group">
                    <input
                      type="date"
                      class="form-control todayDate"
                      placeholder="Date"
                      id="date"
                      name="date"
                      required=""
                      min="" max=""
                    />
                  </div>
                </div>
                <div class="col-sm-3">
                  <label for="market_id">Market Name</label>
                  <div class="form-group">
                    <select
                      class="form-control"
                      id="market_id"
                      name="market_id"
                    >
                      <option value="" disabled selected>
                        Select Market Name
                      </option>
                      <% market_id.forEach(function(market_id) { %>
                      <option value="<%= market_id._id %>">
                        <%= market_id.market_name %> ( <%= market_id.open_time
                        %> - <%= market_id.close_time %> )
                      </option>
                      <% }); %>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <label for="market_id">Session</label>
                  <div class="form-group">
                    <select
                      class="form-control"
                      id="market_session"
                      name="market_session"
                    >
                      <option value="" disabled selected>Select Session</option>
                      <option value="open">Open</option>
                      <option value="close">Close</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2">
                  <label for="market_id">&nbsp;</label>
                  <div class="form-group">
                    <button type="button" class="btn btn-raised btn-round waves-effect btn-primary show_extra_buttons" >Go</button>
                  </div>
                 
                </div>

                <div class="col-sm-4 extra_div">
                  <label for="market_id">Pana & Digit</label>
                  <div class="form-group">
                    <select class="form-control digit_cls" id="digit" name="digit">
                      <option value="" disabled selected>Select Digit</option>
                      <option value="000">000</option>
                      <option value="100">100</option>
                      <option value="110">110</option>
                      <option value="111">111</option>
                      <option value="112">112</option>
                      <option value="113">113</option>
                      <option value="114">114</option>
                      <option value="115">115</option>
                      <option value="116">116</option>
                      <option value="117">117</option>
                      <option value="118">118</option>
                      <option value="119">119</option>
                      <option value="120">120</option>
                      <option value="122">122</option>
                      <option value="123">123</option>
                      <option value="124">124</option>
                      <option value="125">125</option>
                      <option value="126">126</option>
                      <option value="127">127</option>
                      <option value="128">128</option>
                      <option value="129">129</option>
                      <option value="130">130</option>
                      <option value="133">133</option>
                      <option value="134">134</option>
                      <option value="135">135</option>
                      <option value="136">136</option>
                      <option value="137">137</option>
                      <option value="138">138</option>
                      <option value="139">139</option>
                      <option value="140">140</option>
                      <option value="144">144</option>
                      <option value="145">145</option>
                      <option value="146">146</option>
                      <option value="147">147</option>
                      <option value="148">148</option>
                      <option value="149">149</option>
                      <option value="150">150</option>
                      <option value="155">155</option>
                      <option value="156">156</option>
                      <option value="157">157</option>
                      <option value="158">158</option>
                      <option value="159">159</option>
                      <option value="160">160</option>
                      <option value="166">166</option>
                      <option value="167">167</option>
                      <option value="168">168</option>
                      <option value="169">169</option>
                      <option value="170">170</option>
                      <option value="177">177</option>
                      <option value="178">178</option>
                      <option value="179">179</option>
                      <option value="180">180</option>
                      <option value="188">188</option>
                      <option value="189">189</option>
                      <option value="190">190</option>
                      <option value="199">199</option>
                      <option value="200">200</option>
                      <option value="220">220</option>
                      <option value="222">222</option>
                      <option value="223">223</option>
                      <option value="224">224</option>
                      <option value="225">225</option>
                      <option value="226">226</option>
                      <option value="227">227</option>
                      <option value="228">228</option>
                      <option value="229">229</option>
                      <option value="230">230</option>
                      <option value="233">233</option>
                      <option value="234">234</option>
                      <option value="235">235</option>
                      <option value="236">236</option>
                      <option value="237">237</option>
                      <option value="238">238</option>
                      <option value="239">239</option>
                      <option value="240">240</option>
                      <option value="244">244</option>
                      <option value="245">245</option>
                      <option value="246">246</option>
                      <option value="247">247</option>
                      <option value="248">248</option>
                      <option value="249">249</option>
                      <option value="250">250</option>
                      <option value="255">255</option>
                      <option value="256">256</option>
                      <option value="257">257</option>
                      <option value="258">258</option>
                      <option value="259">259</option>
                      <option value="260">260</option>
                      <option value="266">266</option>
                      <option value="267">267</option>
                      <option value="268">268</option>
                      <option value="269">269</option>
                      <option value="270">270</option>
                      <option value="277">277</option>
                      <option value="278">278</option>
                      <option value="279">279</option>
                      <option value="280">280</option>
                      <option value="288">288</option>
                      <option value="289">289</option>
                      <option value="290">290</option>
                      <option value="299">299</option>
                      <option value="300">300</option>
                      <option value="330">330</option>
                      <option value="333">333</option>
                      <option value="334">334</option>
                      <option value="335">335</option>
                      <option value="336">336</option>
                      <option value="337">337</option>
                      <option value="338">338</option>
                      <option value="339">339</option>
                      <option value="340">340</option>
                      <option value="344">344</option>
                      <option value="345">345</option>
                      <option value="346">346</option>
                      <option value="347">347</option>
                      <option value="348">348</option>
                      <option value="349">349</option>
                      <option value="350">350</option>
                      <option value="355">355</option>
                      <option value="356">356</option>
                      <option value="357">357</option>
                      <option value="358">358</option>
                      <option value="359">359</option>
                      <option value="360">360</option>
                      <option value="366">366</option>
                      <option value="367">367</option>
                      <option value="368">368</option>
                      <option value="369">369</option>
                      <option value="370">370</option>
                      <option value="377">377</option>
                      <option value="378">378</option>
                      <option value="379">379</option>
                      <option value="380">380</option>
                      <option value="388">388</option>
                      <option value="389">389</option>
                      <option value="390">390</option>
                      <option value="399">399</option>
                      <option value="400">400</option>
                      <option value="440">440</option>
                      <option value="444">444</option>
                      <option value="445">445</option>
                      <option value="446">446</option>
                      <option value="447">447</option>
                      <option value="448">448</option>
                      <option value="449">449</option>
                      <option value="450">450</option>
                      <option value="455">455</option>
                      <option value="456">456</option>
                      <option value="457">457</option>
                      <option value="458">458</option>
                      <option value="459">459</option>
                      <option value="460">460</option>
                      <option value="466">466</option>
                      <option value="467">467</option>
                      <option value="468">468</option>
                      <option value="469">469</option>
                      <option value="470">470</option>
                      <option value="477">477</option>
                      <option value="478">478</option>
                      <option value="479">479</option>
                      <option value="480">480</option>
                      <option value="488">488</option>
                      <option value="489">489</option>
                      <option value="490">490</option>
                      <option value="499">499</option>
                      <option value="500">500</option>
                      <option value="550">550</option>
                      <option value="555">555</option>
                      <option value="556">556</option>
                      <option value="557">557</option>
                      <option value="558">558</option>
                      <option value="559">559</option>
                      <option value="560">560</option>
                      <option value="566">566</option>
                      <option value="567">567</option>
                      <option value="568">568</option>
                      <option value="569">569</option>
                      <option value="570">570</option>
                      <option value="577">577</option>
                      <option value="578">578</option>
                      <option value="579">579</option>
                      <option value="580">580</option>
                      <option value="588">588</option>
                      <option value="589">589</option>
                      <option value="590">590</option>
                      <option value="599">599</option>
                      <option value="600">600</option>
                      <option value="660">660</option>
                      <option value="666">666</option>
                      <option value="667">667</option>
                      <option value="668">668</option>
                      <option value="669">669</option>
                      <option value="670">670</option>
                      <option value="677">677</option>
                      <option value="678">678</option>
                      <option value="679">679</option>
                      <option value="680">680</option>
                      <option value="688">688</option>
                      <option value="689">689</option>
                      <option value="690">690</option>
                      <option value="699">699</option>
                      <option value="700">700</option>
                      <option value="770">770</option>
                      <option value="777">777</option>
                      <option value="778">778</option>
                      <option value="779">779</option>
                      <option value="780">780</option>
                      <option value="788">788</option>
                      <option value="789">789</option>
                      <option value="790">790</option>
                      <option value="799">799</option>
                      <option value="800">800</option>
                      <option value="880">880</option>
                      <option value="888">888</option>
                      <option value="889">889</option>
                      <option value="890">890</option>
                      <option value="899">899</option>
                      <option value="900">900</option>
                      <option value="990">990</option>
                      <option value="999">999</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4 extra_div">
                  <label>Digit</label>
                  <div class="form-group">
                    <input
                      type="number"
                      class="form-control"
                      name="result_number"
                      id="result"
                      readonly
                    />
                  </div>
                </div>
              </div>
              <div class="row m-2 extra_div">
                <div class="col-12">
                  <button
                    type="submit"
                    class="btn btn-raised btn-round waves-effect"
                    style="background-color: #212529; color: #fff"
                  >
                    Save
                  </button>
                  <button type="button" class="btn btn-raised btn-round waves-effect btn-warning show_winners" style="opacity:0">Show Winners</button>
                  <button type="button" class="btn btn-raised btn-round waves-effect btn-primary declare_res" style="opacity:0" >Declare Result</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Customer list Ends -->
    </div>
  </section>

  <section class="section">
    <div class="section-body">
      <!-- Bid history Report Start-->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header" style="background-color: #212529">
              <div class="col-12 row card-header-box">
                <div class="col-md-6">
                  <h4 class="float-left">Result</h4>
                  <br />
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <input
                          type="date"
                          class="form-control todayDateFilter"
                          placeholder="Date"
                          id="date_filter"
                          name="date_filter"
                          required=""
                          value="<%= date ? convertTimeStampToDateString(date) : '' %>"
                        />
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-group">
                        
                        <button type="button" class="btn btn-raised btn-round waves-effect btn-primary submitFilter" >Filter</button>
                        <button type="button" class="btn btn-raised btn-round waves-effect btn-info resetfilter" >Reset</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="table-responsive p-2">
                    <table id="example" class="table table-bordered table-md">
                      <thead class="t-head">
                        <tr class="text-center">
                          <td>S.No</td>
                          <td>Game Name</td>
                          <td>Result Date</td>
                          <td>Open Declare Date</td>
                          <td>Close Declare Date</td>
                          <td>Open Pana</td>
                          <td>Close Pana</td>
                        </tr>
                      </thead>

                      <tbody class="text-center">
                        <% if(!result[0]) { %>
                        <tr>
                          <td colspan="100%">No Data</td>
                        </tr>
                        <% } else {%> <%result.forEach(function(result,index){%>
                        <tr>
                          <td><%= index+1 %></td>
                          <td>
                            <%= result.market_id ? result.market_id.market_name
                            : '' %>
                          </td>
                          <td><%= result.date %></td>
                          <td>
                            <%= result.open_pana && result.open_pana.declare_date ? convertTimeStampToDate(result.open_pana.declare_date)
                            : '' %>
                          </td>
                          <td>
                            <%= result.close_pana && result.close_pana.declare_date ? convertTimeStampToDate(result.close_pana.declare_date)
                            : '' %>
                          </td>
                          <td>
                            <%= result.open_pana && result.open_pana.text_value ? result.open_pana.text_value
                            : '' %>
                            <% if(result.open_pana && result.open_pana.text_value) { %>
                            <i style="padding: 6px;" class="btn btn-danger btn-xs fas fa-trash-alt" onclick="deleteresult('<%= result._id %>','open_pana');"></i>
                            <% } %>
                           </td>
                          <td>
                            <%= result.close_pana && result.close_pana.text_value ? result.close_pana.text_value
                            : '' %>
                            <% if(result.close_pana && result.close_pana.text_value) { %>
                              <i style="padding: 6px;" class="btn btn-danger btn-xs fas fa-trash-alt" onclick="deleteresult('<%= result._id %>','close_pana');"></i>
                              <% } %>
                           </td>
                        </tr>

                        <% }); %> <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Customer list Ends -->
    </div>
  </section>

  <!-- Modal body -->
  <div class="modal fade" id="show_winners_modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Show Winners</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <button type="button" class="btn btn-raised btn-round waves-effect btn-info">Total Bid Amount : <span class="total_bid_amount"></span></button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-raised btn-round waves-effect btn-info">Total Winning Amount : <span class="total_winning_amount"></span></button>
            </div>
            <div class="col-12">
              <div class="table-responsive p-2">
                <table id="example" class="table table-bordered table-md winner_table_html">
                  <thead class="t-head">
                    <tr class="text-center">
                      <td>User Name</td>
                      <td>Bid Amount</td>
                      <td>Winning Amount</td>
                      <td>Game Type</td>
                    </tr>
                  </thead>

                  <tbody class="text-center">
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main Content -->

<%- include ('partials/footer.ejs') %>
<% 
function convertTimeStampToDate(date){ 
  //return date
  //date = date.toString();
  //date = date.split('GMT');
  //return date[0];
  //date = Number(date); 
  //var d = new Date(date).toLocaleString('en-in'); 
  return new Date(date).toLocaleString("en-IN", {timeZone: 'Asia/Kolkata'})
  //return d; 
} 
function convertTimeStampToDateString(dateSty){ 
  let datess  = dateSty.split('/');
  let day = datess[0];
  var year = datess[2];
  var month = datess[1];
  if(month < 10){
    month = '0'+month.toString();
  }
  var dateString = year + "-" + month + "-" + day;
  return dateString;
} 
%>
<script>
  function getTodayDateInString(dateSting) {
    let dateS = new Date(dateSting);
    var years = dateS.getFullYear();
    var months = dateS.getMonth() + 1; // Jan is 0, dec is 11
    var days = dateS.getDate();
    var dateStrings = days + "/" + months + "/" + years;
    return dateStrings;
  }
   let date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth() + 1; // Jan is 0, dec is 11
    var day = date.getDate();
    if(day < 10){
      day  = `0${day}`
    }
    if(month < 10){
      month  = `0${month}`
    }
    var dateString = year + "-" + month + "-" + day;
    
    $('#addform').find('.todayDate').val(dateString);
    $('#addform').find('.todayDate').attr('min',dateString);
    $('#addform').find('.todayDate').attr('max',dateString);
  $('.submitFilter').click(function(){
    let filterDate = $(document).find('.todayDateFilter').val();
    if(filterDate){
      filterDate = getTodayDateInString(filterDate)
    }
    window.location.href = "/admin/result/list?date="+filterDate;
  })
  $('.resetfilter').click(function(){
    window.location.href = "/admin/result/list";
  })
  $(document).ready(function () {
   
    $("#example").DataTable();
    $('.extra_div').css({display:'none'})
  });
  $(document).find('.show_extra_buttons').on('click',function(){
    
    $('.extra_div').css({display:'none'});
    $('.show_winners').css({opacity:0});
    $('.declare_res').css({opacity:0});
    console.log($('#addform').find('#market_id').val() === null)
    if($('#addform').find('#date').val() == '' ){
      renderToast({ message: "Please select date", icon: "error" });
      return
    }
    else if($('#addform').find('#market_id').val() === null){
      renderToast({ message: "Please select market", icon: "error" });
      return
    }
    else if($('#addform').find('#market_session').val() === null){
      renderToast({ message: "Please select session", icon: "error" });
      return
    }else{
      $('.extra_div').css({display:'block'})
    }

    
  })
  $(document).find('.digit_cls').on('change',function(){
    let selectedVal = Number($(this).val());
    let digitToBe = 0;
    if(selectedVal > 9){
      let StringDigit = String(selectedVal).split('');
      let totalNoVal = 0;
      for(let i = 0; i< StringDigit.length; i++){
        totalNoVal += Number(StringDigit[i]);
      }

      digitToBe = Number(String(totalNoVal).split('')[(String(totalNoVal).split('')).length-1]);
    }else{
      digitToBe = selectedVal;
    }
    $('#result').val(digitToBe)
  })
</script>
<script>
  function getFormData($form) {
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function (n, i) {
      indexed_array[n["name"]] = n["value"];
    });

    return indexed_array;
  }

  const form = $("#addform");

  form.on("submit", submitHandler);

  function submitHandler(e) {
    e.preventDefault();
    $('.show_winners').css({opacity:0});
    $('.declare_res').css({opacity:0});
    // PREPARE FORM DATA
    var formData = getFormData($("#addform"));
    console.log(formData);

    // DO POST
    $.ajax({
      type: "POST",
      contentType: "application/json",
      url: "/admin/result/add",
      data: JSON.stringify(formData),
    }).done((res) => {
        if (res.error == true) {
          renderToast({ message: res.message, icon: "error" });
        } else {
          renderToast({ message: res.message, icon: "success" });
          if($('#addform').find('#digit').val() !== null){
            $('.show_winners').css({opacity:1});
            $('.declare_res').css({opacity:1});
            $('#addform').find('.show_winners').attr("data-result-id",res.data._id)
            $('#addform').find('.declare_res').attr("data-result-id",res.data._id)
          }
          // setTimeout(() => {
          //   window.location.reload();
          // }, 1000);
        }
      })
      .fail(function (xhr, status, error) {
        console.log(xhr.responseText);
      });
  }
</script>

<!-- edit  -->
<script>
  $(document).on("click", ".show_winners", function (e) {
    $("#show_winners_modal").modal("show");
    var formData = getFormData($("#addform"));
    formData.result_id = $(this).data('result-id');
    $.ajax({
      type: "POST",
      contentType: "application/json",
      url: "/admin/result/show_winners",
      data: JSON.stringify(formData),
    })
      .done((res) => {
        if (res.error == true) {
          renderToast({ message: res.message, icon: "error" });
        } else {
          let winners = res.data;
          let htmnl = '';
          for(let i = 0; i< winners.length; i++){
          htmnl += `
            <tr>
              <td>${winners[i].user_id.name}</td>
              <td>${winners[i].amount}</td>
              <td>${winners[i].winning_amount}</td>
              <td>${winners[i].game_type_id.type}</td>
            </tr>
          `
            $('.winner_table_html').find('tbody').html(htmnl);
            $('.total_bid_amount').text(res.totalBidAmount);
            $('.total_winning_amount').text(res.totalWinningAmount);
          }
        }
      })
      .fail(function (xhr, status, error) {
        console.log(xhr.responseText);
      });
  });
  $(document).on("click", ".declare_res", function (e) {
    if (confirm("Do you really want to declare result")) {
      var formData = getFormData($("#addform"));
      formData.result_id = $(this).attr('data-result-id');
      $.ajax({
      type: "POST",
      contentType: "application/json",
      url: "/admin/result/declare_result",
      data: JSON.stringify(formData),
    })
      .done((res) => {
        if (res.error == true) {
          renderToast({ message: res.message, icon: "error" });
        } else {
          renderToast({ message: res.message, icon: "success" });
          setTimeout(() => {
            window.location.reload();
          }, 2000);
        }
      })
      .fail(function (xhr, status, error) {
        console.log(xhr.responseText);
      });
    }
  });
</script>

<!-- delete  -->
<script>
  function deleteresult(id,type) {
    if (confirm("Do you really want to delete this record")) {
      // DO POST
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/admin/result/delete",
        data: JSON.stringify({
          id: id,
          type: type,
        }),
      })
        .done((res) => {
          if (res.error == true) {
            renderToast({ message: res.message, icon: "error" });
          } else {
            renderToast({ message: res.message, icon: "success" });
            setTimeout(() => {
              window.location.reload();
            }, 1000);
          }
        })
        .fail(function (xhr, status, error) {
          console.log(xhr.responseText);
        });
    }
  }
</script>
